<div>
  <h2 class="page-header">Vocab Quiz</h2>

  <div class="card">
    <div class="card-header">
      Add Vocab Question
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-primary" (click)="openModal()">Add Question</button>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Your Questions:
    </div>
    <div class="card-body">
      <div *ngFor="let question of questions; let last = last; let i = index" class="row">
        <div class="col-md-10 col-sm-12">
          <div>Question: {{question.question}}</div>
          <ul>
            <li type="A">{{question.choiceA}}</li>
            <li type="A">{{question.choiceB}}</li>
            <li type="A">{{question.choiceC}}</li>
            <li type="A">{{question.choiceD}}</li>
          </ul>
          <div>Answer: {{question.answer}}</div>
        </div>
        <div class="col-md-2 col-sm-12">
          <button type="button" class="btn btn-primary" (click)="deleteQuestion(i)">Delete</button>
        </div>
        <hr *ngIf="!last">
      </div>
    </div>
  </div>
</div>
