<h2 class="page-header">Dashboard</h2>

<p>You can edit your Vocab questions, choose your answers, and assign question levels.</p>
<p>You can also view your student's answers for the reading assignment, edit the reading activity passages and see what they translated.</p>
<p>What would you like to do?</p>

<button type="button" class="btn btn-primary margin-right margin-top" [routerLink]="['/editVocab']">Edit Vocab Quiz</button>
<button type="button" class="btn btn-danger  margin-top" (click)="deleteScores()">Reset Vocab Quiz Scores</button>
<hr>
<button type="button" class="btn btn-primary margin-right  margin-top" [routerLink]="['/readingAnswers']">See Reading Answers</button>
<button type="button" class="btn btn-primary margin-right  margin-top" [routerLink]="['/editReading']">Edit Reading Passages</button>
<button type="button" class="btn btn-primary  margin-top" [routerLink]="['/translates']">See Translates</button>
