<form class="form-signin" (submit)="onLoginSubmit()">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="loginUsername" class="sr-only">Username</label>
  <input type="text" id="loginUsername" class="form-control" placeholder="Username" autofocus [(ngModel)]="username" name="username">
  <label for="loginPassword" class="sr-only">Password</label>
  <input type="password" id="loginPassword" class="form-control" placeholder="Password" [(ngModel)]="password" name="password">
<!--  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>-->
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
