<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">myNihonGo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link"[routerLink]="['/']">Home</a>
      </li>
      <li *ngIf="authService.isLoggedIn() && !loading && isTeacher" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link"[routerLink]="['/dashboard']">Dashboard</a>
      </li>
      <li *ngIf="authService.isLoggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link"[routerLink]="['/profile']">Profile</a>
      </li>
      <li *ngIf="authService.isLoggedIn()" class="nav-item dropdown" [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link dropdown-toggle" href="#" id="vocabdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Vocab</a>
        <div class="dropdown-menu" aria-labelledby="vocabdropdown">
          <a class="dropdown-item" [routerLink]="['/vocab']">Vocab Quiz</a>
          <a class="dropdown-item" [routerLink]="['/score']">Vocab Score</a>
        </div>
      </li>
      <li *ngIf="authService.isLoggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link"[routerLink]="['/reading']">Reading</a>
      </li>
      <li *ngIf="!authService.isLoggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link"[routerLink]="['/login']">Login</a>
      </li>
      <li *ngIf="!authService.isLoggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link"[routerLink]="['/register']">Register</a>
      </li>
      <li *ngIf="authService.isLoggedIn()" class="nav-item">
        <a class="nav-link" (click)="onLogoutClick()" href="#">Logout</a>
      </li>
    </ul>
  </div>
</nav>
