<div>
  <h2 class="page-header">Vocab Quiz</h2>

  <div class="card margin-top" *ngIf="hasQuestions()">
    <div class="card-header">
      <span *ngIf="view !== 'end'">Vocab Quiz Level {{currentLevel}}</span>
      <span *ngIf="view === 'end'">Final Results</span>
    </div>
    <div class="card-body" [ngSwitch]="view">
      <div *ngSwitchCase="'start'"><button type="button" class="btn btn-primary" (click)="startQuiz()">Start Quiz!</button></div>
      <div *ngSwitchCase="'quiz'">
        <div>{{question.question}}</div>
        <div class="row quizContainer">
          <button type="button" class="btn btn-secondary col-sm-12 col-lg-4 answerButton" (click)="checkAnswer('A')">{{question.choiceA}}</button>
          <button type="button" class="btn btn-secondary col-sm-12 col-lg-4 answerButton" (click)="checkAnswer('B')">{{question.choiceB}}</button>
          <button type="button" class="btn btn-secondary col-sm-12 col-lg-4 answerButton" (click)="checkAnswer('C')">{{question.choiceC}}</button>
          <button type="button" class="btn btn-secondary col-sm-12 col-lg-4 answerButton" (click)="checkAnswer('D')">{{question.choiceD}}</button>
        </div>
        <div>
          <hr>
          <div class="progress" style="height: 1px;">
            <div class="progress-bar"
                 role="progressbar"
                 [ngStyle]="{width : ( (count / questionTime) * 100 + '%' ) }"
                 attr.aria-valuenow="{{(count / questionTime) * 100}}"
                 attr.aria-valuemax="100">
              <span class="sr-only">{{count}}</span>
            </div>
          </div>
        </div>
        <div>
          <i *ngFor="let question of questions; let i = index" [ngClass]="getProgressClass(i)" aria-hidden="true"></i>
        </div>
      </div>
      <div *ngSwitchCase="'score'">
        <div>Your score: {{this.score}} out of {{this.questions.length}}</div>
        <button type="button" class="btn btn-primary margin-top" *ngIf="hasNextLevel()" (click)="startNewLevel()">Start Next Level Quiz!</button>
        <button type="button" class="btn btn-primary margin-top" *ngIf="!hasNextLevel()" (click)="end()">Final Results</button>
      </div>
      <div *ngSwitchCase="'end'">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Level</th>
            <th scope="col">Score</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let levelScore of totalScore">
            <th scope="row">{{levelScore.level}}</th>
            <td>{{levelScore.score}} out of {{levelScore.total}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <h4 *ngIf="!hasQuestions()" class="margin-top">Oops, you don't have any questions.</h4>
</div>
