<div>
  <h2 class="page-header">Vocab Quiz</h2>

  <div class="card margin-top" *ngIf="hasQuestions()">
    <div class="card-header">
      Vocab Quiz Level 1
    </div>
    <div class="card-body" [ngSwitch]="view">
      <div *ngSwitchCase="'start'"><button type="button" class="btn btn-primary" (click)="startQuiz()">Start Quiz!</button></div>
      <div *ngSwitchCase="'quiz'">
        <div>{{question.question}}</div>
        <div class="row quizContainer">
          <button type="button" class="btn btn-secondary col-sm-12 col-lg-4 answerButton" (click)="checkAnswer('A')">{{question.choiceA}}</button>
          <button type="button" class="btn btn-secondary col-sm-12 col-lg-4 answerButton" (click)="checkAnswer('B')">{{question.choiceB}}</button>
          <button type="button" class="btn btn-secondary col-sm-12 col-lg-4 answerButton" (click)="checkAnswer('C')">{{question.choiceC}}</button>
          <button type="button" class="btn btn-secondary col-sm-12 col-lg-4 answerButton" (click)="checkAnswer('D')">{{question.choiceD}}</button>
        </div>
        <div>
          <hr>
          <div class="progress" style="height: 1px;">
            <div class="progress-bar"
                 role="progressbar"
                 [ngStyle]="{width : ( (count / questionTime) * 100 + '%' ) }"
                 attr.aria-valuenow="{{(count / questionTime) * 100}}"
                 attr.aria-valuemax="100">
              <span class="sr-only">{{count}}</span>
            </div>
          </div>
          <div></div>
          <div></div>
        </div>
        <div>
          <i *ngFor="let question of questions; let i = index" [ngClass]="getProgressClass(i)" aria-hidden="true"></i>
        </div>
      </div>
      <div *ngSwitchCase="'score'">Your score: {{this.score}} out of {{this.questions.length}}</div>
    </div>
  </div>
  <h4 *ngIf="!hasQuestions()" class="margin-top">Oops, you don't have any questions.</h4>
</div>
